@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Forgot Password Confirmation</span></h3>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
