@{
    ViewBag.Title = "Home Page";
}



<div class="row">

    <!-- services -->
    <div class="services" id="services">
        <div class="container">
            <h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Services</span></h3>
            <div class="services-grids">
                <div class="col-md-3 services-grid">
                    <div class="services-grid1">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </div>
                    <div class="bootstrap-pop-up">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            quo voluptas nulla natus
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Nuptials</h4>
                                    </div>
                                    <div class="modal-body">
                                        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                        inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        Totam rem aperiam, eaque ipsa quae ab illo
                        inventore veritatis et beatae vitae dicta sunt.
                    </p>
                </div>
                <div class="col-md-3 services-grid">
                    <div class="services-grid1">
                        <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
                    </div>
                    <div class="bootstrap-pop-up">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            ipsa quae abillo aperiam
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Nuptials</h4>
                                    </div>
                                    <div class="modal-body">
                                        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                        inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        Totam rem aperiam, eaque ipsa quae ab illo
                        inventore veritatis et beatae vitae dicta sunt.
                    </p>
                </div>
                <div class="col-md-3 services-grid">
                    <div class="services-grid1">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                    <div class="bootstrap-pop-up">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            voluptas sit aspernatur
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Nuptials</h4>
                                    </div>
                                    <div class="modal-body">
                                        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                        inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        Totam rem aperiam, eaque ipsa quae ab illo
                        inventore veritatis et beatae vitae dicta sunt.
                    </p>
                </div>
                <div class="col-md-3 services-grid">
                    <div class="services-grid1">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </div>
                    <div class="bootstrap-pop-up">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            error sit voluptatem eaque
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Nuptials</h4>
                                    </div>
                                    <div class="modal-body">
                                        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                        inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        Totam rem aperiam, eaque ipsa quae ab illo
                        inventore veritatis et beatae vitae dicta sunt.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="services-grids-wedding">
                <div class="services-grids-wedding1">
                    <div class="services-grids-wedding-left animated wow slideInLeft" data-wow-delay=".5s">
                        <img src="images/5.png" alt=" " class="img-responsive" />
                        <h4>Michael Drew</h4>
                    </div>
                    <div class="services-grids-wedding-right animated wow slideInRight" data-wow-delay=".5s">
                        <img src="images/6.png" alt=" " class="img-responsive" />
                        <h4>Laura Carl</h4>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <h5 class="animated wow slideInUp" data-wow-delay=".5s">We are getting married !</h5>
                <p class="animated wow slideInUp" data-wow-delay=".5s">4th avenue, Main Cross Road, New York City.</p>
                <div id="counter"> </div>
                <script src="js/jquery.countdown.js"></script>
                <script src="js/script.js"></script>
            </div>
        </div>
    </div>
    <!-- //services -->
    <!-- services-bottom -->
    <div class="services-bottom">
        <div class="container">
            <h2 class="animated wow slideInLeft" data-wow-delay=".5s">
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                saepe eveniet ut et voluptates repudi.
            </h2>
            <p class="animated wow slideInUp" data-wow-delay=".5s">Necessitatibus</p>
        </div>
    </div>
    <!-- //services-bottom -->
    
</div>